@page
@model TopLearn.Web.Pages.Admin.Roles.IndexModel
@{
    ViewBag.Title = "مدیریت سطح دسترسی";
}

@section PluginStyles
{
    <link href="/admin/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
}

@section PluginScripts
{
    <script src="/admin/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/admin/js/plugins/dataTables/dataTables.bootstrap.js"></script>
}

@section DemoScripts
{
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                "language": {
                    "search": "جستجو:",
                    paginate: {
                        next: 'بعدی', // or '→'
                        previous: 'قبلی' // or '←'
                    },
                    "sLengthMenu": "نمایش _MENU_ نتیجه",
                    "info": "نمایش _START_ تا _END_ نتیجه از _TOTAL_ نتیجه"
                },
                'paging': false,
                'lengthChange': true,
                'searching'   : false,
                'ordering': true,
                'info': false,
                'autoWidth': false
            });
        });


    </script>
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                لیست نقش ها
                <div style="float: left">
                    <a asp-page="/Admin/Roles/CreateRole"
                       class="btn btn-sm btn-outline btn-success"
                       style="display: inline !important">افزودن نقش جدید</a>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>&nbsp;عنوان</th>
                                <th>&nbsp;عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var role in Model.Roles)
                            {
                                <tr>
                                    <td>@role.Title</td>
                                    
                                    <td>
                                        <a asp-page="/Admin/Roles/EditRole" asp-route-id="@role.Id"
                                           class="btn btn-sm btn-info">ویرایش</a> |
                                        <a asp-page="/Admin/Roles/DeleteRole" asp-route-id="@role.Id"
                                           class="btn btn-sm btn-danger">حذف</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>