@model ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page"> @ViewData["Title"] </li>
        </ul>
    </nav>
</div>

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                @await Component.InvokeAsync("Sidebar")
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header>
                            <h1> تغییر کلمه عبور </h1>
                        </header>
                        <div class="inner form-layer">
                            <form asp-action="ChangePassword" method="post">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="current-password"><i class="zmdi zmdi-key"></i></span>
                                            <input asp-for="CurrentPassword" type="password" class="form-control" placeholder="کلمه عبور فعلی" aria-describedby="current-password">
                                        </div>
                                        <span asp-validation-for="CurrentPassword"></span>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="new-password"><i class="zmdi zmdi-lock-outline"></i></span>
                                            <input asp-for="NewPassword" type="password" class="form-control" placeholder="کلمه عبور جدید" aria-describedby="new-password">
                                        </div>
                                        <span asp-validation-for="NewPassword"></span>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="repeat-new-password"><i class="zmdi zmdi-lock-outline"></i></span>
                                            <input asp-for="RepeatNewPassword" type="password" class="form-control" placeholder="تکرار کلمه عبور جدید" aria-describedby="repeat-new-password">
                                        </div>
                                        <span asp-validation-for="RepeatNewPassword"></span>
                                    </div>
                                    <br />
                                    <br />
                                    <br />

                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <button class="btn btn-success">تغییر کلمه عبور</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>