@model bool
@{
    ViewData["Title"] = "فعال سازی حساب کاربری";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">فعال سازی حساب کاربری</li>
        </ul>
    </nav>
</div>

<div class="container">
    @if (Model)
    {
        <div class="alert alert-success text-center">
            <h2 style="font-size: 30px !important;">حساب کاربری شما با موفقیت فعال شد!</h2><br />
            <p>
                <a asp-controller="Account" asp-action="Login" class="btn btn-primary">ورود به سایت</a>
            </p>
        </div>
    }
    else
    {
        <div class="alert alert-danger text-center">
            <p>حساب کاربری با مشخصات ارسال شده یافت نشد</p>
        </div>
    }

</div>