@model TopLearn.DataLayer.Entities.User.User
@{
    ViewData["Title"] = "ارسال ایمیل بازیابی کلمه عبور";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">بازیابی کلمه عبور</li>
        </ul>
    </nav>
</div>
<div class="container">
    <div class="alert alert-success text-center">
        <h2 style="font-size: 30px !important;">لینک بازیابی کلمه عبور با موفقیت ارسال شد!</h2><br />
        <p>@Model.Name عزیز! ایمیلی حاوی لینک بازیابی کلمه عبور به ایمیل "@Model.Email" ارسال شد!</p>
        <p>جهت تغییر کلمه عبور خود، وارد ایمیل خود شده و روی لینک کلیک کنید</p>
    </div>
</div>